:root {
    --mouse-x: 50%;
    --mouse-y: 50%;
  }

body{
    height: 100vh;
    background-image: url(https://c1.wallpaperflare.com/preview/457/856/967/timeless-typography-font-letters-illuminated-light.jpg);
    background-position: center;
    background-size: cover;
}

.spotlight{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.spotlight {
    background-color: hsla(0,0%,0%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 40px,
      black 150px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 30px, /* fade circle */
      black 290px /* size of te circle  */
    );
  }